:root {
    --background-section: #2C2D2F;
    --background-header: #17181B;
    --changerColor: #00A3E1;
    --border-header-side: #202226;
    --border-header-burger: #3b3c43;
    --font-icon-color: #777;
    --font-icon-color-hovor: #c1c1c1;
    --transition: 300ms;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none !important;
}

ul {
    list-style: none;
}

main {
    background-color: #2C2D2F;
    min-height: 100vh;
    user-select: none;
    color: #fff;
}